body {
    margin: 0px;
    font-family: pretendard;
    background-color: #0E0E0E;
    letter-spacing: -0.01em;

}
#BG {
    position: absolute;
    background:radial-gradient(ellipse at center top, #4A4A4A, #0E0E0E 50%);
    width: 100%;
    height: 800px;
    z-index: -1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 120px;
    padding-bottom: 40px;

    & #hero {
        display: flex;
        gap: 26px;
        align-items:center;
        justify-content: center;

        & #mainTitle{
            font-family: "Barlow Semi Condensed";
            font-weight: 600;
            font-size: 70px;
            line-height: 115%;
            text-align: center;
            color: white;

        }

        & img {
            padding-top: 8px;
        }
    }
    & #heroKOR {
        color: #FFA800;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.7em;
    }
}
#contents {
    padding-bottom: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;


    & .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 36px;
        padding-top: 60px;
        padding-bottom: 60px;

        & .subtitleContainer {
            width: 972px;
            display: flex;
            flex-direction: column;

            & .subtitleInfo {
                display: flex;
                align-items: center;
                gap: 10px;

                & .subtitleKOR {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 100%;
                    color: #FFA800;
                }
                & .date {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    color: #838383;
                }
            }
            & .subtitleENG {
                font-family: "Barlow Semi Condensed";
                font-weight: 600;
                font-size: 28px;
                line-height: 100%;
                color: white;
                padding-top: 8px;
            }
        }

        & .cardContents {
            display: grid;
            grid-template-columns: repeat(3, 300px);
            justify-content: center;
            row-gap: 60px;
            column-gap: 36px;

            & .cardContainer {
                display: flex;
                align-items: center;
                gap: 16px;

                & .card {
                    width: 84px;
                    height: 84px;
                    border-radius: 8px;
                    object-fit: cover;
                }
                & .cardInfo {
                    width: 200px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    & .cardInfoMain {
                        display: flex;
                        justify-content: space-between;

                        & .rankTitle{
                            display: flex;
                            align-items: end;
                            gap: 10px;

                            & .ranking {
                                color: white;
                                font-size: 30px;
                                font-weight: 700;
                                line-height: 100%;
                            }
                            & .title {
                                color: white;
                                font-size: 18px;
                                font-weight: 600;
                                line-height: 140%;
                                width: 120px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                        }
                        & .rating{
                            display: flex;
                            gap: 4px;
                            align-items: center;
                            color: #C9C9C9;

                            & .ratingNum {
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 140%;
                            }
                        }
                    }

                    & .cardInfoSub {
                        display: flex;
                        flex-direction: column;
                        color: #838383;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 140%;
                    }
                }
            }
        }
    }
}
.divider {
    width: 972px;
    border-bottom: 1px solid #343434;
}

footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0px 36px 0px 36px;

    & div {
        color: #B2B2B2;
        font-size: 14px;
    }
    & img {
        position: absolute;
        left: 50%;
        transform:translateX(-50%);
    }  
}
/* 라지태블릿 */
@media (max-width: 1044px) {
    #BG {
    height: 700px;
}

header {
    padding-top: 100px;

    & #hero {
        gap: 20px;

        & #mainTitle{
            font-size: 54px;
        }

        & img {
            width: 30px;
        }
    }
    & #heroKOR {
        font-size: 18px;
        letter-spacing: 0.5em;
    }
}
#contents {
    padding-bottom: 200px;

    & .section {

        & .subtitleContainer {
            width: 636px;

            & .subtitleInfo {

                & .subtitleKOR {
                    font-size: 18px;
                }
            }
            & .subtitleENG {
                font-size: 28px;
            }
        }

        & .cardContents {
            grid-template-columns: repeat(2, 300px);

        }
    }
}
.divider {
    width: 636px;
}
footer {
    padding: 0px 30px 0px 30px;

    & img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
}
/* 스몰타블렛 */
@media (max-width: 684px) {
    #BG {
    height: 450px;
}

header {
    padding-top: 70px;
    padding-bottom: 10px;
    gap: 4px;

    & #hero {
        gap: 16px;

        & #mainTitle{
            font-size: 42px;
        }

        & img {
            width: 24px;
            padding-bottom: 2px;
        }
    }
    & #heroKOR {
        font-size: 15px;
        letter-spacing: 0.45em;
    }
}
#contents {
    padding: 0px 20px 0px 20px;
    padding-bottom: 160px;

    & .section {
        width: 100%;

        & .subtitleContainer {
            width: 100%;
        }
        & .cardContents {
            width: 100%;
            display: flex;
            flex-direction: column;

            & .cardContainer {


                & .cardInfo {
                    width: 100%;

                    & .cardInfoMain {

                        & .rankTitle{

                            & .title {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
.divider {
    width: 100%;
}
footer {
    padding: 0px 16px 0px 16px;
    justify-content: center;

    & #rightText {
        display: none;
    }

    & img {
        display: none;
    }
}
}
/* 모바일 */
@media (max-width: 540px) {
    #BG {
    height: 300px;
}

header {
    padding-top: 60px;
    padding-bottom: 10px;
    gap: 4px;

    & #hero {
        gap: 10px;

        & #mainTitle{
            font-size: 30px;
        }

        & img {
            width: 18px;
            padding-bottom: 4px;
        }
    }
    & #heroKOR {
        font-size: 13px;
        letter-spacing: 0.25em;
    }
}
}